<div class="row thm-buttons">
  <%= link_to 'Retour à la liste', themes_path(@theme), :class => "btn-show-theme" %>
</div>

<div class="row thm-wrapper">
  <div class="col-4 thm-show-infos">
    <div id="thm-path">
      <h3><%= @theme.path %></h3>
    </div>
    <div>
      <h1><%= @theme.fullname %></h1>
      <div  id="thm-details">
        <%= @theme.detailled_name %>
      </div>
      <div id="thm-details">
        <%= @dob %>
      </div>
    </div>
    <div id="thm-contact">
      <div>
        <%= @theme.phone %>
      </div>
      <div>
        <%= mail_to @theme.email%>
      </div>
    </div>

    <div id="edit-thm">
      <%= link_to 'Modifier',  edit_theme_path(@theme), :class => "btn-show-theme" %>

      <%= link_to 'Supprimer', theme_path(@theme),
      method: :delete,
      data: { confirm: "Sûre, sûre ?!" } %>
    </div>
  </div>

  <div class="col theme-graphs">
    <div class="row">
      <div class="col" id="thm-graph">
        <h3>Spirale</h3>
        <div class="thm-show-spiral thm-graph">
        <div class="row">
          <div class="col">Physique</div>
          <div class="col"><%= @theme.physics %></div>
        </div>
        <div class="row">
          <div class="col">Emotionel</div>
          <div class="col"><%= @theme.emotional %></div>
        </div>
        <div class="row">
          <div class="col">Mental</div>
          <div class="col"><%= @theme.mental %></div>
        </div>
        <div class="row">
          <div class="col">Créatif</div>
          <div class="col"><%= @theme.creative %></div>
        </div>
        <div class="row">
          <div class="col">Mission</div>
          <div class="col"><%= @theme.path %></div>
        </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col" id="thm-graph">
        <h3>Champs d'expérience</h3>
        <table class="thm-show-expfield">
          <tbody>
            <%= @theme.experience_field %>
            <%= @theme.letters_to_numbers %>
          </tbody>
        </table>
      </div>

      <div class="col" id="thm-graph">
        <h3>Plan de vie</h3>
        <div class="thm-show-lifemap">
          <div class="row">
            <div class="col-md">
              <div><%= @theme.path %></div>
            </div>
            <div class="col-md">
              <div><%= @theme.emotional %></div>
              <div><%= @theme.physics %></div>
              <div><%= @theme.path %></div>
            </div>
            <div class="col-md">
              <div><%= @theme.action_one  %></div>
              <div><%= @theme.action_two  %></div>
              <div><%= @theme.action_three %></div>
              <div><%= @theme.action_four  %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
