<div class="row thm-buttons">
  <%= link_to 'Retour à la liste', clients_path(@client), :class => "btn-show-theme" %>
</div>

<div class="row thm-wrapper">
  <div class="col-4 thm-show-infos">
    <div id="thm-path">
      <h3><%= @path %></h3>
    </div>
    <div>
      <h1><%= @client.fullname  %></h1>
      <div id="thm-details">
        <%= @dob %>
      </div>
    </div>
    <div id="thm-contact">
      <div>
        <%= @client.phone %>
      </div>
      <div>
        <%= mail_to @client.email%>
      </div>
    </div>

    <div id="edit-thm">
      <%= link_to 'Modifier',  edit_client_path(@client), :class => "btn-show-theme" %>

      <%= link_to 'Supprimer', client_path(@client),
      method: :delete,
      data: { confirm: "Sûre, sûre ?!" } %>
    </div>
  </div>

  <div class="col theme-graphs">
    <div class="row">
      <div class="col" id="thm-graph">
        <h3>Spirale</h3>
        <div class="thm-show-spiral thm-graph">
        <div class="row">
          <div class="col">Physique</div>
          <div class="col"><%= @spiral.physics%></div>
        </div>
        <div class="row">
          <div class="col">Emotionel</div>
          <div class="col"><%= @client.spiral.emotional %></div>
        </div>
        <div class="row">
          <div class="col">Mental</div>
          <div class="col"><%= @mental %></div>
        </div>
        <div class="row">
          <div class="col">Créatif</div>
          <div class="col"><%= @creative %></div>
        </div>
        <div class="row">
          <div class="col">Mission</div>
          <div class="col"><%= @path %></div>
        </div>
        </div>
      </div>

    </div>
  </div>

  </div>
</div>
