<h1>Clients#show</h1>
<p>Find me in app/views/clients/show.html.erb</p>

<h2><%= @client.name %></h2>
<p><%= @client.surname %></p>
<p><%= @client.birth_day %></p>
<p><%= @client.birth_month%></p>
<p><%= @client.birth_year%></p>
